CONFIG_SOC_SERIES_DASHKIN=y
CONFIG_SOC_DASHKIN=y
CONFIG_BOARD_DASHKIN=y
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=10000000
CONFIG_XIP=n
CONFIG_GPIO=y
